.aside {
    display: inline-block;
    float: left;
    width: 130px;
}

.top-nav {
    margin-bottom: 60px;
    color: #969cac;
}

.lang {
    height: 17px;
    margin-bottom: 15px;
}

.top-nav li {
    position: relative;
    margin-bottom: 10px;
    padding-left: 25px;
}

.top-nav li::before {
    position: absolute;
    top: -2px;
    left: 0;
    display: inline-block;
    width: 20px;
    height: 20px;
    content: '';
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.ukr,
.rus {
    float: left;
    margin-right: 5px;
}

.lang li.ukr::before {
    top: 0;
    width: 20px;
    height: 1em;
    background-image: url('../img/218px-Flag_of_Ukraine.svg.png');
}

.lang li.rus::before {
    top: 0;
    width: 20px;
    height: 1em;
    background-image: url('../img/218px-Flag_of_Russia.svg.png');
}

.grayscale::before {
    -moz-filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
}

.rss::before {
    background-image: url('../img/png/rss.png');
}

.mob::before {
    background-image: url('../img/mob-ver.gif');
}

.login::before {
    background-image: url('../img/enter.gif');
}

.signin::before {
    background-image: url('../img/signin.gif');
}

li.item a {
    font-weight: bold;
    text-transform: uppercase;
    color: #4264ae;
}

li.item a span,
.near-content li.item a:hover {
    color: #d93e3e;
}

.rss a:hover {
    color: #f4820f;
}

.mob a:hover,
.login a:hover,
.signin a:hover {
    color: #2954a7;
}

li.item {
    margin-top: -1px;
    padding: 10px 0;
    border-top: 1px solid #dce9ff;
    border-bottom: 1px solid #dce9ff;
}

.near-content ul {
    margin-bottom: 15px;
}

li.soc {
    float: left;
    margin-right: 5px;
}

li.youtube {
    display: block;
    clear: left;
}

li.youtube img {
    width: 70px;
    margin: -15px 0;
}

.soc img {
    width: 20px;
}
