.cont-wrap {
    display: inline-block;
    width: 66%;
    margin-right: 2%;
}

.right {
    display: inline-block;
    float: right;
    width: 32%;
}

.category-name {
    display: block;
    height: 50px;
    margin-bottom: 20px;
    padding-left: 15px;
    background-image: url('../img/under-name.gif');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.category-name h2 {
    font-size: 1.4em;
    font-weight: bold;
    line-height: 50px;
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    color: white;
}

.text-block {
    position: relative;
    margin-bottom: 30px;
    padding: 20px 30px;
    border: 2px solid #dce9ff;
}

.text-block::after {
    position: absolute;
    right: 3%;
    bottom: -26px;
    width: 25px;
    height: 26px;
    content: '';
    background-image: url('../img/blog-tycha.gif');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.text-block h3 {
    position: relative;
    margin-bottom: 15px;
}

.text-block h3 a {
    font-size: 1.2em;
    color: #4264ae;
}

.text-block h3 a:hover {
    text-decoration: underline;
}

.text-block h3::before {
    position: absolute;
    top: 7px;
    left: -10px;
    width: 5px;
    height: 5px;
    content: '';
    background-color: #4264ae;
}

.text-block p {
    font-family: 'Noto sans', sans-serif;
}

.pages {
    display: block;
}

.pages p {
    font-family: 'Noto sans';
    font-weight: bold;
    margin: 45px 0 20px;
    padding: 10px 0;
    border-top: 1px solid #dce9ff;
    border-bottom: 1px solid #dce9ff;
}

.pages a {
    font-family: 'Noto sans';
    font-weight: 400;
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
}

.pages a.select {
    background: linear-gradient(#dce9ff, #4264ae);
}

.pages a.next {
    display: inline-block;
    width: auto;
}

.aside-name h4 {
    display: inline-block;
    padding: 10px 15px;
    text-transform: uppercase;
    color: #4264ae;
    background-color: #dce9ff;
}

.aside-name {
    display: block;
    border-bottom: 1px solid #dce9ff;
}

.short .item {
    margin: 15px;
    margin-bottom: 25px;
}

.short .item::after {
    display: table;
    clear: both;
    content: '';
}

.item .time {
    font-family: 'Scada', sans-serif;
    display: inline-block;
    float: left;
    width: 16%;
    color: #999;
}

.item .cont {
    display: inline-block;
    float: left;
    width: 84%;
}

.cont a {
    position: relative;
    color: #7388bf;
}

.cont:hover a {
    text-decoration: underline;
}

.cont a.aside-item {
    color: #222;
}

.cont a.aside-item::before {
    display: none;
}

.cont a::before {
    position: relative;
    top: -2px;
    display: inline-block;
    width: 4px;
    height: 4px;
    margin-right: 5px;
    content: '';
    border-radius: 50%;
    background-color: #7388bf;
}

.slides {
    position: relative;
}

.slides li {
    position: relative;
}

.slides img {
    position: relative;
}

.slides img::after {
    display: table;
    clear: both;
    content: '';
}

.slides h3 {
    font-family: 'Noto sans', sans-serif;
    font-weight: bold;
    position: absolute;
    top: 15px;
    left: 15px;
    display: inline-block;
    padding: 10px 15px;
    text-transform: uppercase;
    color: white;
    background: linear-gradient(#ff9292, #d93e3e);
}

.slides .time {
    position: absolute;
    top: 15px;
    left: 56%;
    display: inline-block;
    padding: 10px 15px;
    text-transform: uppercase;
    color: #666;
    background: linear-gradient(white, #f1f1f1);
}

.slides p {
    font-weight: bold;
    position: relative;
    position: absolute;
    top: -120px;
    top: 95px;
    left: 15px;
    display: inline-block;
    max-width: 80%;
    padding: 10px 15px;
    color: white;
    background: url('../img/p-bg.png') no-repeat 100% 100%;
}

.slides p::before {
    font-weight: bold;
    position: static;
    display: inline-block;
    content: '” ';
    color: white;
}

.slides p::after {
    font-weight: bold;
    position: static;
    display: inline-block;
    content: ' „';
    color: white;
}

.slides .author {
    font-style: italic;
    position: absolute;
    top: 185px;
    left: 15px;
    width: 100%;
    color: white;
}

.slides .author::before {
    display: inline-block;
    width: 3px;
    height: 10px;
    margin-right: 10px;
    content: '';
    background: #d62424;
}

.flex-control-thumbs li {
    width: 32%;
}

.flex-control-thumbs li:first-child {
    margin-right: 2%;
}

.flex-control-thumbs li:last-child {
    margin-left: 2%;
}

.flex-control-thumbs img.flex-active {
    padding-bottom: 3px;
    transition: 0s;
    border-bottom: 3px solid #d62424;
}

.flexslider {
    margin-bottom: 25px;
    border: none;
}

.flexslider:hover .flex-direction-nav .flex-prev,
.flexslider:hover .flex-direction-nav .flex-next {
    top: 33%;
    transition: 0s;
}

.aside-news-one {
    margin-bottom: 20px;
    background: #f4f8ff;
}

.aside-news-one h3 {
    font-family: 'Noto sans', sans-serif;
    font-weight: bold;
    display: inline-block;
    padding: 10px 15px;
    text-transform: uppercase;
    color: white;
    background: linear-gradient(#677fbe, #2a4691);
}

.aside-news-one > a:hover {
    color: #d62424;
}

.aside-news-one > a {
    float: right;
    margin-top: 15px;
    margin-right: 15px;
    color: #2954a7;
}

.aside-news-one h4 {
    margin: 10px 15px;
}

.aside-news-one h4 a {
    font-size: 1.2em;
    color: #2954a7;
}

.aside-news-one h4 a:hover {
    color: #d93e3e;
}

.aside-news-one figure {
    float: left;
    width: 135px;
    margin: 0 15px;
}

.aside-news-one figure img {
    width: 100%;
}

.aside-news-one figcaption {
    font-weight: bold;
    padding-left: 10px;
    color: #2954a7;
    border-left: 3px solid #d62424;
}

.aside-news-one p {
    margin: 0 15px 0;
    padding-bottom: 15px;
}

.aside-news-two {
    margin-bottom: 20px;
    padding: 15px;
    background: #5a73b4;
}

.aside-news-two div {
    padding: 10px 15px;
    background: url('../img/n2-h-bg.png') no-repeat;
    background-size: 100% 100%;
}

.aside-news-two h3 {
    font-family: 'Noto sans', sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    display: inline-block;
    text-transform: uppercase;
    color: white;
}

.aside-news-two h3 span {
    font-size: inherit;
    padding-left: 13px;
    color: #2954a7;
}

.aside-news-two a {
    float: right;
    padding-top: 3px;
    padding-right: 3px;
    color: white;
}

.aside-news-two a:hover {
    text-decoration: underline;
}

.aside-news-two figure {
    margin: 15px 0 0;
}

.aside-news-two figure img {
    float: left;
    width: 30%;
    margin-right: 15px;
}

.aside-news-two figure::after {
    display: table;
    clear: both;
    content: '';
}

.aside-news-two figcaption {
    font-weight: bold;
    float: left;
    width: 65%;
    padding: 15px 15px 0 0;
    color: white;
    border-top: 1px solid #6c88d1;
}

.aside-news-two figcaption a:hover {
    text-decoration: underline;
}

.aside-opros {
    margin-bottom: 20px;
    background: #f4f8ff;
}

.opros-name {
    position: relative;
    padding: 10px 15px;
    background: linear-gradient(#677fbe, #2a4691);
}

.opros-name::after {
    display: table;
    clear: both;
    content: '';
}

.opros-name h4 {
    font-family: 'Noto sans', sans-serif;
    font-weight: bold;
    float: left;
    text-transform: uppercase;
    color: white;
}

.opros-name a:hover {
    text-decoration: underline;
}

.opros-name a {
    float: right;
    color: white;
}

.form-wrap {
    padding: 15px;
    background-image: url('../img/opros.png');
    background-position: 118% 218%;
    background-size: 61%;
}

.form-wrap h4 {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #2a4691;
}

.aside-opros label {
    font-family: 'Noto sans', sans-serif;
    display: block;
    margin-bottom: 10px;
}

.aside-opros input[type='radio'] {
    margin-right: 10px;
}

.aside-opros button {
    font-weight: bold;
    position: relative;
    left: 60%;
    padding: 5px 10px;
    color: white;
    border: none;
    border-radius: 4px;
    outline: none;
    background: linear-gradient(#ff9292, #d93e3e);
}

.aside-opros button:hover {
    background: linear-gradient(#ff9f9d, #e55156);
}

.aside-afisha {
    position: relative;
    z-index: -2;
    margin-bottom: 20px;
    padding: 15px;
    background: #f4f8ff;
}

.aside-afisha h4 {
    font-family: 'Noto sans', sans-serif;
    font-weight: bold;
    position: absolute;
    z-index: 1;
    padding: 5px 10px;
    text-transform: uppercase;
    color: white;
    background: linear-gradient(#ff9292, #d93e3e);
}

.aside-afisha figure.first {
    margin: -15px;
    margin-bottom: 0;
    background: linear-gradient(rgba(255, 255, 255, .01), rgba(0, 0, 0, .29));
}

.aside-afisha figure {
    position: relative;
}

.aside-afisha figure::after {
    display: table;
    clear: both;
    content: '';
}

.aside-afisha figure img {
    position: relative;
    z-index: -1;
}

figure.first figcaption {
    position: absolute;
    z-index: 1;
    bottom: 15px;
    left: 15px;
}

figure.first figcaption p {
    font-size: 1.2em;
}

figure.first figcaption p,
figure.first figcaption span {
    font-weight: bold;
    color: white;
}

figure.first figcaption span::before {
    display: block;
    width: 33%;
    height: 1px;
    margin-top: 15px;
    margin-bottom: 5px;
    content: '';
    background: #d93e3e;
}

figure.second:last-child {
    padding-bottom: 0;
    border-bottom: none;
}

figure.second {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid white;
}

figure.second img {
    float: left;
}

figure.second figcaption {
    float: right;
}

figure.second img {
    width: 30%;
    margin-right: 5%;
}

figure.second figcaption {
    width: 65%;
}

figure.second span {
    color: #d93e3e;
}

figure.second p {
    font-weight: bold;
    color: #2a4691;
}

section {
    display: block;
}

aside::after,
section::after {
    display: table;
    clear: both;
    content: '';
}

.soc-networks::before {
    display: table;
    clear: both;
    content: '';
}
