.wrapper {
    display: inline-block;
    width: calc(100% - 130px);
    margin-top: -15px;
    padding: 20px 15px 0;
    box-shadow: 0 0 10px 5px rgba(241, 241, 241, 1);
}

header {
    margin-bottom: 20px;
}

.hdr-banner {
    display: block;
    position: relative;
    width: 100%;
    margin-bottom: 15px;
    border-bottom: 1px solid #dce9ff;
}

.banner-item {
    float: left;
    width: 25%;
}

.banner-item .image-wrap {
    display: inline-block;
    position: absolute;
    bottom: 0;
    float: left;
    overflow: visible;
    width: auto;
    height: 90px;
}

.image-wrap img {
    height: 90px;
}

.banner-item .desc-wrap {
    position: relative;
    z-index: 1;
    display: inline-block;
    width: 65%;
    padding-left: 5px;
    float: right;
}

.desc-wrap h3 {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 7px;
    color: #4264ae;
}

.desc-wrap p {
    font-family: 'Noto sans', sans-serif;
    font-size: .8em;
    width: 180px;
    margin-bottom: 7px;
}

.desc-wrap a {
    display: inline-block;
    font-size: .8em;
    position: relative;
    z-index: 1;
    padding: 5px;
    text-transform: uppercase;
    color: white;
    border-radius: 2px;
    background: -webkit-linear-gradient(#dce9ff, #4264ae);
    background: -o-linear-gradient(#dce9ff, #4264ae);
    background: linear-gradient(#dce9ff, #4264ae);
}

.desc-wrap a:hover {
    color: white;
    background: -webkit-linear-gradient(#a3b8f0, #627cc1);
    background: -o-linear-gradient(#a3b8f0, #627cc1);
    background: linear-gradient(#a3b8f0, #627cc1);
}

.logo-to-date {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
}

.logo-to-date::after {
    display: block;
    clear: both;
    content: '';
}

.logo-to-date > div {
    float: left;
    margin-right: 1.8%;
}

.logo {
    width: 35.3%;
}

.logo p {
    font-family: 'Esqadero', sans-serif;
    text-align: justify;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #506998;
}

.logo p::after {
    display: inline-block;
    width: 100%;
    content: '';
}

.logo img {
    width: 100%;
}

.nav-site {
    width: 31%;
}

.nav-site li {
    position: relative;
    float: left;
    width: 25%;
    text-align: center;
    display:table;
    height: 40px;
}

.nav-site li::after {
    position: absolute;
    /*top: -4px;*/
    /*right: 3px;*/
    width: 1px;
    height: 45px;
    content: '';
    -webkit-transform: rotate(12deg);
    transform: rotate(12deg);
    background: #dce9ff;
}

.nav-site li:last-child::after {
    width: 0;
    margin: 0;
}

.nav-site li a {
    font-family: 'Noto sans', sans-serif;
    font-weight: bold;
    display: block;
    text-align: center;
    text-transform: uppercase;
    color: #506998;
    display: table-cell;
    vertical-align: middle;
}

.nav-site li {
    font-size: 0;
    /*line-height: 40px;*/
}

.nav-site li a {
    /*display: inline-block;*/
    vertical-align: middle;
}

.nav-site li a:hover {
    color: #d93e3e;
}

.search {
    position: relative;
    width: 18%;
    height: 45px;
    background-image: url('../img/search-input.gif');
}

.search::before {
    position: absolute;
    top: 15px;
    left: 20px;
    width: 15px;
    height: 15px;
    content: '';
    background: url('../img/search.gif') no-repeat 100% 100%;
}

.search input {
    position: relative;
    top: 15px;
    left: 35px;
    width: calc(100% - 60px);
    border: none;
    outline: none;
}

.currency {
    position: absolute;
    top: 48px;
    right: 13.5%;
}

.currency dt {
    font-family: 'Noto sans', sans-serif;
    display: inline-block;
    color: #d93e3e;
}

.currency dd {
    font-family: 'Noto sans', sans-serif;
    font-weight: bold;
    display: inline-block;
}

.logo-to-date .search {
    margin-right: 5px;
}

.logo-to-date .date {
    position: relative;
    width: 11.5%;
    height: 67px;
    margin-right: 0;
    background-image: url('../img/date-block.gif');
    background-repeat: no-repeat;
}

.date div {
    font-family: 'Roboto condensed', sans-serif;
    font-weight: bold;
    position: absolute;
    display: inline-block;
    text-transform: uppercase;
}

.month {
    top: 15px;
    left: 15px;
    color: white;
}

div.day {
    top: 15px;
    left: 47px;
    color: #d93e3e;
}

.date .dat,
.date .time {
    font-size: 1.1em;
    top: 42px;
}

.dat {
    left: 13px;
}

.time {
    left: 60px;
}

.nav {
    display: block;
    height: 40px;
    background: linear-gradient(#677fbe, #2a4691);
}

.nav li {
    font-weight: bold;
    position: relative;
    display: table;
    float: left;
    width: calc(100% / 11);
    height: 40px;
    text-align: center;
    text-transform: uppercase;
}

.nav a {
    font-size: .89em;
    display: table-cell;
    vertical-align: middle;
    color: white;
}

.nav a:hover {
    background: linear-gradient(#8299d6, #5b74b4);
}

.nav li:last-child::after {
    display: inline-block;
    width: 100%;
    content: '';
}

.nav-site:after,
.hdr-banner::after {
    display: table;
    clear: both;
    content: '';
}

.nav > ul:nth-child(1)::after {
    display: table;
    clear: both;
    content: '';
}

@media (max-width: 1150px) and (min-width: 1000px) {
    .nav-site li a {
        font-size: 10px;
    }
    .month {
        font-size: 12px;
        left: 13px;
    }
    div.day {
        font-size: 12px;
        left: 35px;
    }
    .dat {
        left: 8px;
    }
    .time {
        left: 42px;
    }
}

@media (max-width: 999px) and (min-width: 769px) {
    .banner-item {
        width: calc(100% / 4 * 2);
    }
    .logo-to-date .logo {
        float: left;
        width: 70%;
        margin-right: 0;
    }
    .logo-to-date .nav-site {
        float: left;
        width: 65%;
        margin-right: 0;
    }
    .logo-to-date .search {
        float: right;
        width: 33%;
        margin-right: 0;
    }
    .logo-to-date .currency {
        position: static;
        float: right;
    }
    .logo-to-date .date {
        position: absolute;
        top: 0;
        right: 0;
        width: 130px;
        margin-top: 10px;
    }
    .nav-site li::after {
        top: 0;
        height: 25px;
    }
    .nav-site li {
        line-height: 25px;
        text-align: center;
    }
    .logo-to-date {
        margin-bottom: 15px;
    }
    .logo p {
        font-size: 1.2em;
    }
}

@media (max-width: 892px) and (min-width: 769px) {
    .nav li {
        font-size: 11px;
    }
}
