* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Scada', sans-serif;
	font-size: 14px;
	text-decoration: none;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	color: #525252;
	list-style: none;
}
a:hover {
	color: #d93e3e;
}
.container {
	max-width: 1250px;
	width: 100%;
	margin: 15px auto 0;
}
.aside {
	width: 20%;
	display: inline-block;
	float: left;
	min-width: 115px;
}
.wrapper {
	width: 80%;
	display: inline-block;
}
.top-nav {
	color: #969cac;
	margin-bottom: 60px;
}
.lang {
	height: 17px;
	margin-bottom: 15px;
}
.top-nav li {
	padding-left: 25px;
	position: relative;
	margin-bottom: 10px;
}
.top-nav li:before {
	content: '';
	height: 20px;
	width: 20px;
	display: inline-block;
	position: absolute;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	left: 0px;
	top: -2px;
}
.ukr, .rus {
	float: left;
	margin-right: 5px;
}
.lang li.ukr:before {
	width: 20px;
	height: 1em;
	background-image: url('../img/218px-Flag_of_Ukraine.svg.png');
	top: 0;
}
.lang li.rus:before {
	width: 20px;
	height: 1em;
	background-image: url('../img/218px-Flag_of_Russia.svg.png');
	top: 0;
}
.rss:before {
	background-image: url('../img/png/rss.png');
}
.mob:before {
	background-image: url('../img/mob-ver.gif');
}
.login:before {
	background-image: url('../img/enter.gif');
}
.signin:before {
	background-image: url('../img/signin.gif');
}

li.item a {
	text-transform: uppercase;
	font-weight: bold;
	color: #4264ae;
}
li.item a span,
.near-content li.item a:hover {
	color: #d93e3e;
}
li.item {
	padding: 10px 0;
	border-top: 1px solid #dce9ff;
	border-bottom: 1px solid #dce9ff;
	margin-top: -1px;
}
.near-content ul{
	margin-bottom: 15px;
}
li.soc {
	float: left;
	margin-right: 5px; 
}
li.youtube {
	display: block;
	clear: left;
}
li.youtube img {
	width: 70px;
	margin: -15px 0;
}
.soc img {
	width: 20px;
}
