* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Scada', sans-serif;
	font-size: 14px;
	text-decoration: none;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	color: #525252;
	list-style: none;
}
a:hover {
	color: #d93e3e;
}
.container {
	max-width: 1250px;
	width: 100%;
	margin: 15px auto 0;
}
@font-face {
  font-family: "Esqadero";
  src: '../font/Esqadero.ttf'
}

