* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: #525252;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family: 'Scada', sans-serif;
    font-size: 14px;
}

figure,
figcaption {
    margin: 0;
    padding: 0;
}

figure img {
    width: 100%;
}

a:hover {
    color: #d93e3e;
}

.container {
    width: 100%;
    max-width: 1250px;
    margin: 15px auto 0;
}

@font-face {
    font-family: "Esqadero";
    src: "../font/Esqadero.ttf";
}
.blue-button {
    background: -webkit-linear-gradient(#dce9ff, #4264ae);
    background: -o-linear-gradient(#dce9ff, #4264ae);
    background: linear-gradient(#dce9ff, #4264ae);
}
.blue-button:hover {
    background: -webkit-linear-gradient(#a3b8f0, #627cc1);
    background: -o-linear-gradient(#a3b8f0, #627cc1);
    background: linear-gradient(#a3b8f0, #627cc1);
}