.wrapper {
	width: calc(100% - 130px);
	display: inline-block;
	padding: 20px 15px 0;
	margin-top: -15px;
	box-shadow: 0px 0px 10px 5px rgba(241,241,241,1);
}


.hdr-banner {
	display: block;
	width: 100%;
	height: 91px;
	margin-bottom: 15px;
	border-bottom: 1px solid #dce9ff;
}
.banner-item {
	width: 25%;
	float: left;
}
.banner-item .image-wrap {
	width: 35%;
	overflow: visible;
	float: left;
	display: inline-block;
	height: 90px;
}
.image-wrap img {
	height: 90px;
}
.banner-item .desc-wrap {
	width: 65%;
	padding-left: 5px;
	display: inline-block;
}
.desc-wrap h3 {
	font-weight: bold;
	font-size: 1em;
	color: #4264ae;
	margin-bottom: 10px;
}
.desc-wrap p {
	font-family: 'Noto sans', sans-serif;
	font-size: .8em;
	margin-bottom: 10px;
	width: 180px;
}
.desc-wrap a {
	text-transform: uppercase;
	padding: 5px;
	border-radius: 2px;
	color: white;
	background: linear-gradient(#dce9ff,#4264ae);
	position: relative;
	z-index: 1;
	font-size: 0.8em;
}
.desc-wrap a:hover {
	background: linear-gradient(#FF9292,#d93e3e);
	color: white;
}


.logo-to-date {
	display: block;
	width: 100%;
	height: auto;
}
.logo-to-date:after{
    clear: both;
    content: "";
    display: block;
}
.logo-to-date > div {
	float: left;
	margin-right: 20px;
}
.logo {
	width: 35.3%;
}
.logo p {
	font-family: 'Esqadero', sans-serif;
	text-transform: uppercase;
	text-align: justify;
	color: #506998;
	letter-spacing: 5px;
}
.logo p:after {
  content: "";
  display: inline-block;
  width: 100%;
}
.nav-site {
	width: 31%;
}
.nav-site li {
	float: left;
	width: 25%;
	position: relative;
	top: 15px;
}
.nav-site li:after {
	content: '';
	position: absolute;
	-webkit-transform: rotate(12deg);
	   -moz-transform: rotate(12deg);
	    -ms-transform: rotate(12deg);
	     -o-transform: rotate(12deg);
	        transform: rotate(12deg);
	height: 45px;
	width: 1px;
	background: #dce9ff;
	top: -13px;
	right: 0;
}
.nav-site li:last-child:after {
	width: 0;
	margin: 0;
}
.nav-site li a {
	font-family: 'Noto sans', sans-serif;
	font-weight: bold;
	color: #506998;
	text-transform: uppercase;
	display: block;
	text-align: center;
}
.nav-site li a:hover {
	color: #d93e3e;
}
